// bootstrap
$primary: #5e9a8e;
$gray: #ececec;
$gray-light: #f7faf9;
$dark: #413d3d;

$body-color: $dark;
$link-color: $primary;

$jumbotron-bg: transparent;
$font-family-cursive: 'Great Vibes', cursive;
$font-family-base: 'Dosis', sans-serif;
$navbar-padding-y: 0.75rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
